
/* style for banner */
.banner{
  width: 1600px;
  height: 808px;
  left: 1600px;
  top: 808px;

     }
.bannertext{
     position: absolute;
     font-family: 'Work Sans';
     width: 525px;
     height: 228px;
     left: 845px;
     top: 216px;
     text-align: right;

    }
.bannertext2{

    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #0b0a0a;
text-align: right;
}
.btn-banner{
    font-family: 'Work Sans';
    font-style: normal;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    border-radius: 5px;
    color: #f0e9e5;
    background-color: #ea6105;
    border: none;
}
/* style for main */
.main-img{
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}   
.maintext{
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1174px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 47px;

}
.maintext2{

width: 416px;
height: 104px;
left: 862px;
top: 1296px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #3c3838;
}
.maintext3{
   
    width: 311px;
    height: 26px;
    left: 896px;
    top: 1446px;
list-style-type: disc;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #474343;


}
